package domain

import (
	"errors"

	"github.com/golang-jwt/jwt/v5"
)

var ErrInvalidToken = errors.New("invalid token")

type TokenType string

const (
	TokenTypeAccess  TokenType = "accessToken"
	TokenTypeRefresh TokenType = "refreshToken"
)

type TokenClaims struct {
	jwt.RegisteredClaims
	TokenType TokenType `json:"type"`
	UserID    uint      `json:"userId"`
	Username  string    `json:"username"`
}

