{{ define "app_go" }}package internal

import (
	"context"
	"fmt"
	"log/slog"
	"net"
	"net/http"
	"net/http/pprof"
	"time"

	"{{ .Module }}/internal/config"
	generatedserver "{{ .Module }}/internal/generated/server"
	"{{ .Module }}/pkg/httpserver"

	"github.com/julienschmidt/httprouter"
	"github.com/prometheus/client_golang/prometheus/promhttp"
	"github.com/rom8726/di"
	"golang.org/x/sync/errgroup"
	{{ .DB.Processor.Import }}
	{{- range .Infras }}
    {{ .Processor.Import }}
    {{- end }}
)

const (
	ctxTimeout = 10 * time.Second
)

type App struct {
	Config *config.Config
	Logger *slog.Logger

	{{ .DB.Processor.StructField }}
	{{- range .Infras }}
    {{ .Processor.StructField }}
    {{- end }}

	container *di.Container
	diApp     *di.App
}

func NewApp(ctx context.Context, cfg *config.Config, logger *slog.Logger) (*App, error) {
	ctx, cancel := context.WithTimeout(ctx, ctxTimeout)
	defer cancel()

	{{ .DB.Processor.InitInAppConstructor }}

    {{- range .Infras }}
    {{ .Processor.InitInAppConstructor }}
    {{- end }}

	container := di.New()
	diApp := di.NewApp(container)

	return &App{
		Config:       cfg,
		Logger:       logger,
		container:    container,
		diApp:        diApp,
		{{ .DB.Processor.FillStructField }}
        {{- range .Infras }}
        {{ .Processor.FillStructField }}
        {{- end }}
	}, nil
}

func (app *App) RegisterComponent(constructor any) *di.Provider {
	return app.container.Provide(constructor)
}

func (app *App) ResolveComponent(target any) error {
	return app.container.Resolve(target)
}

func (app *App) ResolveComponentsToStruct(target any) error {
	return app.container.ResolveToStruct(target)
}

func (app *App) Run(ctx context.Context) error {
	apiServer, err := app.newAPIServer()
	if err != nil {
		return fmt.Errorf("create API server: %w", err)
	}

	techServer, err := app.newTechServer()
	if err != nil {
		return fmt.Errorf("create tech server: %w", err)
	}

	app.Logger.Info("Start API server")

	group, groupCtx := errgroup.WithContext(ctx)
	group.Go(func() error { return apiServer.ListenAndServe(groupCtx) })
	group.Go(func() error { return techServer.ListenAndServe(groupCtx) })
	group.Go(func() error { return app.diApp.Run(groupCtx) })

	return group.Wait()
}

func (app *App) Close() {
	{{ .DB.Processor.Close }}
    {{- range .Infras }}
    {{ .Processor.Close }}
    {{- end }}
}

func (app *App) newAPIServer() (*httpserver.Server, error) {
	cfg := app.Config.APIServer

	var restAPI generatedserver.Handler
	if err := app.container.Resolve(&restAPI); err != nil {
		return nil, fmt.Errorf("resolve REST API service component: %w", err)
	}

	{{ if .HasSecurityHandler }}
	var securityHandler generatedserver.SecurityHandler
	if err := app.container.Resolve(&securityHandler); err != nil {
		return nil, fmt.Errorf("resolve API security handler component: %w", err)
	}

	genServer, err := generatedserver.NewServer(restAPI, securityHandler)
	{{ else }}
	genServer, err := generatedserver.NewServer(restAPI)
	{{ end }}
	if err != nil {
		return nil, fmt.Errorf("create API server: %w", err)
	}

	lis, err := net.Listen("tcp", cfg.Addr)
	if err != nil {
		return nil, fmt.Errorf("listen %q: %w", cfg.Addr, err)
	}

	return &httpserver.Server{
		Listener:     lis,
		ReadTimeout:  cfg.ReadTimeout,
		WriteTimeout: cfg.WriteTimeout,
		IdleTimeout:  cfg.IdleTimeout,
		Handler:      genServer,
	}, nil
}

func (app *App) newTechServer() (*httpserver.Server, error) {
	cfg := app.Config.TechServer
	lis, err := net.Listen("tcp", cfg.Addr)
	if err != nil {
		return nil, fmt.Errorf("listen %q: %w", cfg.Addr, err)
	}

	router := httprouter.New()
	router.Handle(http.MethodGet, "/health",
		func(writer http.ResponseWriter, _ *http.Request, _ httprouter.Params) {
			writer.WriteHeader(http.StatusOK)
			_, _ = writer.Write([]byte("ok"))
		},
	)

	router.Handler(http.MethodGet, "/metrics", promhttp.Handler())

	router.HandlerFunc(http.MethodGet, "/debug/pprof", pprof.Index)
	router.HandlerFunc(http.MethodGet, "/debug/cmdline", pprof.Cmdline)
	router.HandlerFunc(http.MethodGet, "/debug/profile", pprof.Profile)
	router.HandlerFunc(http.MethodGet, "/debug/symbol", pprof.Symbol)
	router.HandlerFunc(http.MethodGet, "/debug/trace", pprof.Trace)
	router.Handler(http.MethodGet, "/debug/allocs", pprof.Handler("allocs"))
	router.Handler(http.MethodGet, "/debug/block", pprof.Handler("block"))
	router.Handler(http.MethodGet, "/debug/goroutine", pprof.Handler("goroutine"))
	router.Handler(http.MethodGet, "/debug/heap", pprof.Handler("heap"))
	router.Handler(http.MethodGet, "/debug/mutex", pprof.Handler("mutex"))
	router.Handler(http.MethodGet, "/debug/threadcreate", pprof.Handler("threadcreate"))

	return &httpserver.Server{
		Listener:     lis,
		ReadTimeout:  cfg.ReadTimeout,
		WriteTimeout: cfg.WriteTimeout,
		IdleTimeout:  cfg.IdleTimeout,
		Handler:      router,
	}, nil
}

{{ .DB.Processor.Constructor }}

{{- range .Infras }}
{{ .Processor.Constructor }}
{{- end }}
{{ end }}