{{- define "config_env" -}}
LOGGER_LEVEL=info

API_SERVER_ADDR=:8080
API_SERVER_READ_TIMEOUT=15s
API_SERVER_WRITE_TIMEOUT=30s
API_SERVER_IDLE_TIMEOUT=60s

TECH_SERVER_ADDR=:8081
TECH_SERVER_READ_TIMEOUT=15s
TECH_SERVER_WRITE_TIMEOUT=30s
TECH_SERVER_IDLE_TIMEOUT=60s

{{ .DB.Processor.ConfigEnv }}

{{ range .Infras }}
{{ .Processor.ConfigEnv }}
{{- end }}

MIGRATIONS_DIR=./migrations
{{ end }}